<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- General -->
    <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
    <!-- Bases -->
    <xacro:include filename="$(find cp1_base)/robot_description/cp1/urdf/kobuki.urdf.xacro" />
    <!-- Stacks -->
    <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
    <!-- 3D Sensors -->
    <xacro:include filename="$(find turtlebot_description)/urdf/sensors/kinect.urdf.xacro"/>

    <!--<xacro:include filename="$(find cp1_base)/robot_description/cp1/urdf/battery.urdf.xacro" />-->


    <kobuki/>
    <stack_hexagons  parent="base_link"/>
    <sensor_kinect   parent="base_link"/>
    <!--<sensor_battery  parent="body"/>-->
</robot>